/**
 * Title:
 *    Battenberg
 * Description:
 *
 * Sections:
 *    $. Setup
 *    $. Component
 *    $. Themes
 *    $. Sizing
 *    $. Grid
 */



/* $. Setup
\*----------------------------------------------------------------*/


/* $. Component
\*----------------------------------------------------------------*/
.battenberg {
    @extend .cf;
    width: 100%;
    margin-bottom: $base;

    @include respond-min($bp2){
        display: table;
        min-height: 350px;
    }

    @include respond-min($bp2){
        margin-bottom: $base*2;
    }
}

.battenberg__box {
    padding: $base 0;

    @include respond-min($bp2) {
        padding: 0 $base*2;
    }
}

.battenberg__box,
.battenberg__image {
    @include respond-min($bp2){
        width: 50%;
        display: table-cell;
    }
}

.battenberg__image {
    // display: none;

    @include respond-min($bp2){
        display: table-cell;
        background-size: cover;
    }
}

.battenberg__title {
}

.battenberg__text {

}
