/**
 * Title:
 *    Containers
 * Description:
 *    Container based layout modules
 * Sections:
 *    $. Base
 *    $. Modifications
 */



/* $. Base
\*----------------------------------------------------------------*/

.container {
    margin: 0 auto;
    width: 92.5%;
    min-width: 15em; // 240px
    max-width: 68.5em; // 1233px

    @include respond-min($bp1) {
        width: 85%;
    }
}



/* $. Modifications
\*----------------------------------------------------------------*/

.container--small {
    max-width: 850px;
}

.container--content {
    img {
        display: block;
        margin: 0 0 $base 0;
    }

    h2 {
        margin-bottom: $base/2;
    }

    @include respond-min($bp3) {
        img {
            margin: 0;
            padding-bottom: $base*3;
        }
        img.alignright {
            margin-left: $base*2;
        }
        img.alignleft {
            margin-right: $base*2;
        }
    }

}

.container--gallery {
    @include respond-min($bp2) {
        margin-top: 2em;
    }

    @include respond-min($bp3) {
        margin-top: 4em;
        margin-bottom: 4em;
    }
}

.container--flush {
    position: relative;
    width: 100%;

    @include respond-min($bp3) {
        width: 85%;
    }
}
