/**
 * Title:
 *    Testimonials
 * Description:
 *    Styling for the testimonials slider
 */



/* $. Stuff
\*----------------------------------------------------------------*/

.testimonials {
	width: 100%;
	padding: $base*1.5 0;
	margin-bottom: $base;
	background: $black;
	color: $white;
	text-align: left;

	@include respond-min($bp2) {
		padding: $base*3 $base*3 $base*3.5 $base*3;
		margin-bottom: $base*2;
		text-align: center;
	}
}

.testimonials--inverted {
	margin-bottom: 0;
	color: $black;
	background: $white;
}

.testimonial__title {
	font-weight: $weight-medium;
}

.testimonial__quote {
	font-weight: $weight-normal;
}

.testimonial__author {
}

.background__logo {
	@include respond-min($bp2) {
		background-image: url("../img/background--logo.svg");
		background-position: center center;
		background-size: cover;
	}
}
