/**
 * Title:
 *    Navigation
 * Description:
 *    The .nav module and its extensions
 * Sections:
 *    $. Variables
 *    $. Container
 *    $. Component
 *    $. Primary
 *    $. Secondary
 *    $. Tertiary
 */



/* $. Variables
\*----------------------------------------------------------------*/

$color-nav: $color-link;



/* $. Container
\*----------------------------------------------------------------*/

.nav-container {
}



/* $. Component
\*----------------------------------------------------------------*/

.nav {
    @extend %cf;
    @extend %list--unset;
}

.nav__item {
	position: relative;
	font-size: 1.5rem;
	font-weight: $weight-medium;
	padding-bottom: 1rem;
	border-bottom: 1px solid lighten($black, 85%);

	@include respond-min($bp2) {
		display: inline-block;
		padding-bottom: 0;
		margin-left: 1em;
		font-size: 1.35rem;
		border-bottom: none;
	}
}

.nav__item:before {
	@include respond-min($bp2) {
		content: "";
		width: 0;
		height: 2px;
		position: absolute;
		bottom: -5px;
		background: $black;
		transition-duration: 0.3s;
	}
}

.nav__item:hover:before, .is-current:before {
	@include respond-min($bp2) {
		width: 50%;
	    background: $black;
	}
}

.nav__link {
	text-decoration: none;
	border: none;

	@include respond-min($bp2) {

	}
}

/* $. Primary
\*----------------------------------------------------------------*/

.nav--primary {
	@include respond-min($bp2) {
		float: right;
		margin-top: -3.75em;
	}
}



/* $. Secondary
\*----------------------------------------------------------------*/

.nav--secondary {
}



/* $. Tertiary
\*----------------------------------------------------------------*/

.nav--tertiary {
}
