.pagination {
    margin-top: $base*2;
    padding: ($base/2) 0;
    border-top: 1px solid $grey-lighter;
    border-bottom: 1px solid $grey-lighter;

    a, span, .wp-pagenavi a {
        display: inline-block;
        border: none;
        font-size: 1.2rem;
    }

    a, .wp-pagenavi a, .pagination .wp-pagenavi span.current {
        margin: 0 $base/4;
        font-size: 1.25rem;
        color: #000;
        border-bottom: 1px solid #000;
        // border-bottom: 1px solid $color-link;
    }

    .pages {
        // margin-right: $base;
    }

    .first,
    .last {
        // border-bottom: 0;
    }

    .disabled a, .wp-pagenavi span.current  {
        border: none;
        font-weight: $weight-normal;
    }

    .last {
        margin-left: $base/2;
    }
}

.wp-pagenavi a, .wp-pagenavi span {
    padding: 0 !important;
}
